@charset "UTF-8";
@import 'style';
/*--------------------PARALLAX----------------------*/

#parallax-world-of-ugg, .parallax-one {
    position: relative;
    float: left;
    width: 100%;
    h1 {
        @extend %titulo-h1;
        color: #FFF;
        @extend %absolute-50;
    }
}


/*--------------------MIDDLE-TITLE----------------------*/

.branding-middle-title {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 50px 0;
    img {
        position: relative;
        margin: auto;
        width: 50%;
    }
}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {
    background: white;
    padding: 60px 30px;
    width:820px;
    margin:0 auto;
    text-align:justify;
    color: black;
}
#parallax-world-of-ugg .block-gray {
    background: #f2f2f2;
    padding: 60px;
}
#parallax-world-of-ugg .section-overlay-mask {
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: black;
    opacity: 0.70;
}

/**************************/
#parallax-world-of-ugg {
    .parallax-one {
        position: relative;
        width: 100%;
        height: 480px;
        background-size: cover;
        background-position: center 0px;
        background-image: url(../_img/fabrica.jpg);
        @media screen and (min-width: $break-extralarge) {
            
        }
        @media screen and (max-width: $break-large) {
            height: 400px;
        }
        @media screen and (max-width: $break-medium) {
            
        }
        @media screen and (max-width: $break-small) {

        }
    }
}
.parallax--bg {
    transition: none;
}


/*--------------------ABOUT----------------------*/

.about {
    position: relative;
    float: left;
    width: 100%;
    background: #F4F4F4;
    padding-top: 70px;
    margin-bottom: 50px;
    figure {
        position: absolute;
        width: 100%;
        display: grid;
        top: -50px;
        grid-template-columns: repeat(4,1fr);
        img {
            position: relative;
            width: 100%;
        }
    }
    p {
        @extend %text-geral;
    }
}

/*--------------------GLOBAL----------------------*/
/*--------------------GLOBAL----------------------*/
/*--------------------GLOBAL----------------------*/
/*--------------------GLOBAL----------------------*/
/*--------------------GLOBAL----------------------*/