@charset "UTF-8";
@import 'style';

/*--------------------Buffet----------------------*/
%buffet {
    position: relative;
    float: left;
    width: 100%;
    height: 700px;
    margin-bottom: 40px;
    img {
        position: absolute;
        width: 20%;
        left: 30px;
        bottom: 30px;
    }
}

@mixin shadow {
    -webkit-box-shadow: inset 2px 200px 300px -27px rgba(0,0,0,0.6);
    -moz-box-shadow: inset 2px 200px 300px -27px rgba(0,0,0,0.6);
    box-shadow: inset 2px 200px 300px -27px rgba(0,0,0,0.6);
}

/*--------------------SIGMA----------------------*/
.sigma {
    @extend %buffet;
    background: url(../_img/Buffet-sigma.jpg);
    background-size: cover;
    background-position: center center;
    @include shadow;
}

/*--------------------KONRAD II----------------------*/

.KonradII {
    @extend %buffet;
    background: url(../_img/Buffet-konradii.jpg);
    background-size: cover;
    background-position: center center;
    @include shadow;
}

/*--------------------DUX----------------------*/

.dux {
    @extend %buffet;
    background: url(../_img/buffet-dux.jpg);
    background-size: cover;
    background-position: center center;
    @include shadow;   
}