@charset "UTF-8";
/*--------------------GLOBAL----------------------*/
body {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  margin: auto; }

.container {
  width: 95%;
  margin: 0 auto; }

.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.container::after {
  clear: both; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box; }

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .5s ease-in-out; }

.overlay.open {
  height: 100%;
  opacity: 1;
  z-index: 999; }

/*--------------------VARIÁVEIS----------------------*/
/*--------------------MIXINS/EXTEND----------------------*/
.map a h6, .map h6, .middle-title h1, footer .footer-wrapper h3 {
  font-family: "Playfair Display SC";
  font-size: 30px;
  color: #000000;
  padding: 20px;
  font-weight: 100; }

.flexslider .inst-text p, .creations p, .middle-title p, .main #d3 .clip p, .diamond ul li p, .diamond .diamond-middle-title p, .diamond .wrapper-banner-large .banner-large p, .diamond .wrapper-banner .banner p, .diamond .wrapper-banner-mini .banner-mini p, .diamond:nth-of-type(3) .omma .banner-large p, .diamond:last-of-type .sarim .banner-mini p, footer .footer-wrapper p, footer p {
  font-family: "Roboto Mono", monospace;
  color: #000000;
  font-size: 18px;
  font-weight: 100; }

.flexslider .inst-text button, .diamond .diamond-middle-title button, .diamond .wrapper-banner-large .banner-large button, .diamond .wrapper-banner-mini .banner-mini button, .main #d3 .clip button, .diamond ul li button, .diamond .wrapper-banner .banner button, .diamond:nth-of-type(3) .omma .banner-large button, .diamond:last-of-type .sarim .banner-mini button {
  position: relative;
  width: 50%;
  height: 50px;
  margin: 20px 0;
  background-color: transparent;
  font-family: "Playfair Display SC";
  border: none;
  cursor: pointer;
  font-size: 18px;
  outline: 1px solid rgba(255, 255, 255, 0.7);
  color: #FFF; }
  .flexslider .inst-text button:hover, .diamond .diamond-middle-title button:hover, .diamond .wrapper-banner-large .banner-large button:hover, .diamond .wrapper-banner-mini .banner-mini button:hover, .main #d3 .clip button:hover, .diamond ul li button:hover, .diamond .wrapper-banner .banner button:hover, .diamond:nth-of-type(3) .omma .banner-large button:hover, .diamond:last-of-type .sarim .banner-mini button:hover {
    background-color: transparent;
    border: 1px solid #FFF;
    text-shadow: 0 0 20px white;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px; }

.flexslider .inst-text button, .diamond .diamond-middle-title button, .diamond .wrapper-banner-large .banner-large button, .diamond .wrapper-banner-mini .banner-mini button {
  outline-color: #000000;
  color: #000000; }
  .flexslider .inst-text button:hover, .diamond .diamond-middle-title button:hover, .diamond .wrapper-banner-large .banner-large button:hover, .diamond .wrapper-banner-mini .banner-mini button:hover {
    border: 1px solid #000000;
    text-shadow: 0 0 20px white;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(0, 0, 0, 0);
    outline-offset: 15px; }

.diamond ul li {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 5%;
  left: 3%;
  background: #000000;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  cursor: pointer; }

.diamond .wrapper-banner-large .banner-large, .diamond .wrapper-banner .banner, .diamond .wrapper-banner-mini .banner-mini, .diamond:nth-of-type(3) .omma .banner-large, .diamond:last-of-type .banner-2 .banner, .diamond:last-of-type .sarim .banner-mini {
  position: absolute;
  width: 100%;
  height: 100%; }

.nav-mobile .sections, .diamond .wrapper-banner-large .banner-large p, .diamond .wrapper-banner-large .banner-large button, .diamond .wrapper-banner .banner p, .diamond .wrapper-banner .banner button, .diamond .wrapper-banner-mini .banner-mini p, .diamond .wrapper-banner-mini .banner-mini button, .diamond:nth-of-type(3) .omma .banner-large p, .diamond:nth-of-type(3) .omma .banner-large button, .diamond:last-of-type .sarim .banner-mini p, .diamond:last-of-type .sarim .banner-mini button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4; }

.flexslider .inst-text button, .diamond .diamond-middle-title button, .diamond .wrapper-banner-large .banner-large button, .diamond .wrapper-banner-mini .banner-mini button, .main #d3 .clip button, .diamond ul li button, .diamond .wrapper-banner .banner button, .diamond:nth-of-type(3) .omma .banner-large button, .diamond:last-of-type .sarim .banner-mini button, .diamond ul li, .diamond .wrapper-banner-large .banner-large, .diamond .wrapper-banner .banner, .diamond .wrapper-banner-mini .banner-mini, .diamond:nth-of-type(3) .omma .banner-large, .diamond:last-of-type .banner-2 .banner, .diamond:last-of-type .sarim .banner-mini, header .divisor .social ul li a img, .main #d3, .diamond ul li p, .diamond ul li .bg, .diamond .wrapper-banner-large .banner-large p, .diamond .wrapper-banner .banner p, .diamond .wrapper-banner-mini .banner-mini p, .diamond:nth-of-type(3) .omma .banner-large p, .diamond:last-of-type .sarim .banner-mini p, footer .social ul li a img {
  transition: all .2s ease-in-out; }

.nav-mobile {
  transition: all .5s ease-in-out; }

/*--------------------HAMBURGUER-ICON----------------------*/
.icon {
  position: fixed;
  width: 35px;
  left: 2.5%;
  top: 0;
  cursor: pointer;
  border-radius: 50%;
  margin-top: 10px;
  display: none;
  z-index: 1000; }
  @media screen and (max-width: 768px) {
    .icon {
      display: block; } }

.hamburguer {
  width: 100%;
  height: 3px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.8s cubic-bezier(0.85, -0.03, 0.2, 1); }

.hamburguer:before,
.hamburguer:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition-duration: .5s; }

.hamburguer:before {
  top: -12px; }

.hamburguer:after {
  top: 12px; }

.icon.active .hamburguer {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0); }

.icon.active .hamburguer:before {
  top: 0;
  transform: rotate(45deg);
  background-color: #000000; }

.icon.active .hamburguer:after {
  top: 0;
  transform: rotate(135deg);
  background-color: #000000; }

/*--------------------PRELOADER----------------------*/
#preloader {
  position: fixed;
  background: #FFF;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  z-index: 5;
  align-items: center; }
  #preloader img {
    position: absolute;
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

#loader {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #000000;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #000000;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite; }

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #000000;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
/*--------------------SLIDE-IN EFFECT----------------------*/
.come-in {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition: .5s; }

.in-view {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

/*--------------------NAV-MOBILE----------------------*/
.nav-mobile {
  position: fixed;
  width: 300px;
  min-height: 100%;
  top: 0;
  left: -100%;
  display: none;
  background: #FFF;
  z-index: 999;
  border-right: 2px solid #000000; }
  @media screen and (max-width: 768px) {
    .nav-mobile {
      display: block; } }
  .nav-mobile .sections {
    width: 100%; }
    .nav-mobile .sections li {
      display: block;
      position: relative;
      float: left;
      text-align: center;
      width: 100%; }
      .nav-mobile .sections li a {
        position: relative;
        width: 100%;
        line-height: 50px;
        color: #000000;
        font-family: "Playfair Display SC";
        font-size: 30px;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        transition: all .2s ease-in-out; }
        .nav-mobile .sections li a:hover {
          border-right: 1px solid #000000;
          border-left: 1px solid #000000;
          padding: 0 5px 0; }
      .nav-mobile .sections li .produtos {
        position: relative;
        width: 100%;
        opacity: 0;
        height: 0;
        transition: all .2s ease-in-out;
        background-color: #FFF;
        z-index: 3;
        clear: both; }
        .nav-mobile .sections li .produtos li {
          width: 100%;
          height: 16.66%;
          position: relative;
          clear: both; }
          .nav-mobile .sections li .produtos li:hover {
            background-color: #F4F4F4; }
          .nav-mobile .sections li .produtos li a {
            position: relative;
            width: 100%;
            line-height: 100%;
            font-size: 20px;
            border: none; }
            .nav-mobile .sections li .produtos li a:hover {
              padding: 0; }
      .nav-mobile .sections li .produtos.active {
        opacity: 1;
        height: 200px; }

.nav-mobile.active {
  left: 0; }

/*--------------------HEADER----------------------*/
header {
  position: relative;
  float: left;
  width: 100%;
  background: #FFF;
  z-index: 3;
  padding-top: 20px; }
  header .branding {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center; }
    @media screen and (max-width: 1024px) {
      header .branding {
        padding-bottom: 20px; } }
    header .branding img {
      position: relative;
      margin: auto;
      width: 30%; }
      @media screen and (max-width: 768px) {
        header .branding img {
          width: 40%; } }
      @media screen and (max-width: 425px) {
        header .branding img {
          width: 50%; } }
  header .nav-desktop {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    border-top: 1px solid #000000; }
    @media screen and (max-width: 768px) {
      header .nav-desktop {
        display: none; } }
    header .nav-desktop ul {
      position: relative;
      width: 100%;
      height: 100%; }
      header .nav-desktop ul li {
        display: inline;
        position: relative;
        float: left;
        text-align: center;
        width: 20%;
        height: 100%; }
        header .nav-desktop ul li a {
          position: relative;
          width: 100%;
          line-height: 50px;
          color: #000000;
          font-family: "Playfair Display SC";
          font-size: 18px;
          border-right: 1px solid transparent;
          border-left: 1px solid transparent;
          transition: all .2s ease-in-out; }
          header .nav-desktop ul li a:hover {
            border-right: 1px solid #000000;
            border-left: 1px solid #000000;
            padding: 0 5px 0; }
        header .nav-desktop ul li .catalogo {
          position: absolute;
          width: 100%;
          top: 50px;
          opacity: 0;
          height: 0;
          transition: all .2s ease-in-out;
          border-right: 1px solid #000000;
          border-left: 1px solid #000000;
          border-bottom: 1px solid #000000;
          background-color: #FFF;
          z-index: 3; }
          header .nav-desktop ul li .catalogo li {
            display: block;
            width: 100%;
            height: 16.66%;
            position: relative;
            display: flex;
            align-items: center; }
            header .nav-desktop ul li .catalogo li:hover {
              background-color: #F4F4F4; }
            header .nav-desktop ul li .catalogo li a {
              position: relative;
              width: 100%;
              line-height: 100%;
              font-size: 15px;
              border: none; }
              header .nav-desktop ul li .catalogo li a:hover {
                padding: 0; }
        header .nav-desktop ul li .catalogo.active {
          opacity: 1;
          height: 260px; }
  header .divisor {
    position: relative;
    width: 100%;
    float: left;
    padding: 10px 0 5px;
    border-top: 1px solid #000000;
    z-index: 2; }
    header .divisor .social {
      position: relative;
      float: right;
      width: 50%; }
      @media screen and (max-width: 425px) {
        header .divisor .social {
          width: 20%; } }
      header .divisor .social ul {
        position: relative;
        float: right;
        width: 20px; }
        header .divisor .social ul li {
          position: relative;
          width: 100%;
          display: inline-block; }
          header .divisor .social ul li a {
            position: relative;
            float: left;
            width: 100%;
            height: 100%; }
            header .divisor .social ul li a img {
              position: relative;
              width: 100%; }
              header .divisor .social ul li a img:hover {
                filter: invert(30%); }

/*--------------------MAP----------------------*/
.map {
  position: relative;
  float: left;
  min-width: 120px; }
  .map a {
    border-bottom: 1px solid transparent;
    transition: all .2s ease-in-out; }
    .map a:hover {
      border-bottom: 1px solid #000000;
      padding-bottom: 5px; }
    .map a h6 {
      font-size: 15px;
      padding: 0;
      display: inline-block; }
  .map h6 {
    font-size: 15px;
    padding: 0;
    display: inline-block; }

/*--------------------SLIDER----------------------*/
.flexslider {
  position: relative;
  float: left;
  padding: 0;
  width: 100%;
  z-index: 1;
  transition: all 200ms ease-in-out; }
  .flexslider .inst-text {
    position: absolute;
    bottom: -100px;
    right: 0;
    width: 650px;
    background-color: #F4F4F4;
    text-align: center;
    padding: 20px;
    z-index: 999; }
    @media screen and (min-width: 1440px) {
      .flexslider .inst-text {
        width: 40%; } }
    @media screen and (max-width: 1024px) {
      .flexslider .inst-text {
        width: 70%; } }
    @media screen and (max-width: 768px) {
      .flexslider .inst-text {
        width: 90%;
        bottom: 0; } }
    @media screen and (max-width: 425px) {
      .flexslider .inst-text {
        width: 100%;
        padding: 0;
        position: relative;
        float: left; } }
    @media screen and (max-width: 425px) {
      .flexslider .inst-text button {
        width: 90%; } }

.slider {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  float: left; }

.mobile-slider {
  display: none; }

.slider img {
  width: 100%; }

.slider,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-control-nav {
  width: 200px;
  text-align: center;
  position: absolute;
  left: -90px;
  top: 10%;
  z-index: 2;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg); }
  @media screen and (max-width: 768px) {
    .flex-control-nav {
      top: 18%; } }

.flex-control-nav li {
  display: inline-block;
  text-align: center;
  margin: 0 6px; }

.flex-control-nav li a {
  display: block;
  background: #e2e2e2;
  width: 20px;
  height: 5px;
  text-indent: -9999px; }

.flex-control-nav li a:hover {
  background: #777777; }

.flex-control-nav li a.flex-active {
  background: #777777; }

.flex-direction-nav a.flex-next::before {
  content: url(../_img/next.png); }

.flex-direction-nav a.flex-prev::before {
  content: url(../_img/prev.png); }

.flex-direction-nav a {
  display: block;
  text-decoration: none;
  position: absolute;
  top: 50%;
  z-index: 2; }
  @media screen and (max-width: 768px) {
    .flex-direction-nav a {
      top: 45%; } }

.flex-direction-nav .flex-prev {
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3 ease-in-out;
  transition: all 0.3s ease-in-out; }

.flex-direction-nav .flex-next {
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3 ease-in-out;
  transition: all 0.3s ease-in-out; }

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px; }

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px; }

/*---BOXES---*/
.creations {
  position: relative;
  width: 100%;
  text-align: justify;
  padding: 50px 0; }

.middle-title {
  position: relative;
  width: 50%;
  margin: auto;
  padding: 120px 0;
  text-align: center;
  clear: both; }
  @media screen and (min-width: 1440px) {
    .middle-title {
      width: 40%; } }
  @media screen and (max-width: 1024px) {
    .middle-title {
      width: 70%; } }
  @media screen and (max-width: 768px) {
    .middle-title {
      width: 90%;
      padding: 50px 0; } }
  @media screen and (max-width: 425px) {
    .middle-title {
      width: 100%; } }
  .middle-title h1::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #000000;
    display: block;
    position: relative;
    margin: auto;
    bottom: -10px;
    margin-bottom: 30px; }

.main {
  height: 600px;
  width: 100%;
  background: #FFF;
  position: relative;
  background-position: center center;
  background-size: cover;
  margin-bottom: 50px; }
  @media screen and (max-width: 768px) {
    .main {
      height: 500px; } }
  .main #d1 {
    height: 350px;
    width: 20%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-image: url(../_img/POL-MIMO-DET.jpg);
    background-size: 1150px 650px;
    background-position: 0px -150px;
    z-index: 2; }
  .main #d2 {
    height: 80%;
    width: 30%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 170px;
    transform: translate(0, -50%);
    background-image: url(../_img/POL-MIMO-DET.jpg);
    background-size: 1150px 650px;
    background-position: -100px center;
    z-index: 3; }
  .main #d3 {
    height: 100%;
    width: 35%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: url(../_img/POL-MIMO-DET.jpg);
    background-size: 1150px 650px;
    background-position: center center;
    z-index: 4;
    cursor: pointer; }
    @media screen and (min-width: 1440px) {
      .main #d3 {
        width: 40%; } }
    @media screen and (max-width: 1024px) {
      .main #d3 {
        width: 70%; } }
    @media screen and (max-width: 768px) {
      .main #d3 {
        width: 90%; } }
    @media screen and (max-width: 425px) {
      .main #d3 {
        width: 100%; } }
    .main #d3 .clip {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center; }
      .main #d3 .clip p {
        color: #FFF;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -70%); }
      .main #d3 .clip button {
        color: #FFF;
        top: 70%; }
  .main #d4 {
    height: 80%;
    width: 30%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    right: 170px;
    transform: translate(0, -50%);
    background-image: url(../_img/POL-MIMO-DET.jpg);
    background-size: 1150px 650px;
    background-position: -670px center;
    z-index: 2; }
  .main #d5 {
    height: 350px;
    width: 20%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-image: url(../_img/POL-MIMO-DET.jpg);
    background-size: 1150px 650px;
    background-position: 0px -150px; }

/*--------------------DIAMOND-BOXES----------------------*/
.diamond {
  position: relative;
  width: 100%;
  height: 700px;
  text-align: center;
  margin: 50px 0;
  clear: both; }
  @media screen and (max-width: 768px) {
    .diamond {
      height: 400px; } }
  .diamond ul {
    position: relative;
    float: left;
    left: 3%;
    width: 30%;
    height: auto; }
    .diamond ul li {
      overflow: hidden; }
      .diamond ul li:hover {
        transform: rotate(45deg); }
      .diamond ul li p {
        font-size: 12px;
        color: #FFF;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        z-index: 4; }
      .diamond ul li button {
        padding: 0;
        margin: 0;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%) rotate(-45deg);
        z-index: 4; }
      .diamond ul li .bg {
        position: relative;
        width: 100%;
        height: 100%;
        transform: rotate(-45deg) scale(1.42);
        background: url(../_img/POL-MIMO-DET.jpg);
        background-size: cover;
        background-position: center; }
    .diamond ul .item2 {
      top: 160px;
      left: 170px; }
    .diamond ul .item3 {
      top: 320px; }
    .diamond ul .item4 {
      top: 480px;
      left: 170px; }
    .diamond ul .item5 {
      top: 640px; }
  .diamond .diamond-middle-title {
    position: relative;
    width: 55%;
    float: right;
    padding: 100px 0; }
    @media screen and (max-width: 768px) {
      .diamond .diamond-middle-title {
        width: 100%;
        float: left;
        padding: 50px 0; } }
    .diamond .diamond-middle-title p {
      padding-bottom: 40px; }
  .diamond .wrapper-banner-large {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .diamond .wrapper-banner-large .banner-large {
      background: url(../_img/conti.jpg);
      background-position: center;
      background-size: cover; }
      .diamond .wrapper-banner-large .banner-large p {
        top: 40%;
        opacity: 0; }
      .diamond .wrapper-banner-large .banner-large button {
        top: 50%; }
  .diamond .wrapper-banner {
    position: relative;
    float: left;
    width: 40%;
    height: 100%;
    overflow: hidden; }
    @media screen and (max-width: 768px) {
      .diamond .wrapper-banner {
        width: 100%; } }
    .diamond .wrapper-banner .banner {
      background: url(../_img/banner.jpg);
      background-position: center;
      background-size: cover; }
      .diamond .wrapper-banner .banner p {
        top: 40%;
        color: #FFF;
        opacity: 0; }
      .diamond .wrapper-banner .banner button {
        top: 50%; }
  .diamond .wrapper-banner-mini {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 55%;
    height: 350px;
    overflow: hidden; }
    @media screen and (max-width: 768px) {
      .diamond .wrapper-banner-mini {
        width: 100%;
        float: left;
        position: relative;
        margin: 50px 0; } }
    .diamond .wrapper-banner-mini .banner-mini {
      background: url(../_img/spin.jpg);
      background-position: center;
      background-size: cover; }
      .diamond .wrapper-banner-mini .banner-mini p {
        top: 40%;
        opacity: 0; }
      .diamond .wrapper-banner-mini .banner-mini button {
        top: 50%; }

.diamond:nth-of-type(3) .omma .banner-large {
  background: url(../_img/mesa-lumen.jpg);
  background-position: center;
  background-size: cover; }
  .diamond:nth-of-type(3) .omma .banner-large p {
    top: 40%;
    color: #FFF;
    opacity: 0; }
  .diamond:nth-of-type(3) .omma .banner-large button {
    top: 50%; }

.diamond:last-of-type .wrapper-banner {
  float: right; }
.diamond:last-of-type .diamond-middle-title {
  float: left; }
.diamond:last-of-type .wrapper-banner-mini {
  left: 0; }
.diamond:last-of-type .banner-2 .banner {
  background: url(../_img/banner2.jpg);
  background-position: center;
  background-size: cover; }
.diamond:last-of-type .sarim .banner-mini {
  background: url(../_img/sarim.jpg);
  background-position: center;
  background-size: cover; }
  .diamond:last-of-type .sarim .banner-mini p {
    top: 40%;
    opacity: 0;
    color: #FFF; }
  .diamond:last-of-type .sarim .banner-mini button {
    top: 50%; }

footer {
  position: relative;
  width: 100%;
  background-color: #000000;
  padding: 50px 0 20px;
  margin-bottom: 20px;
  clear: both; }
  footer .social {
    position: relative;
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFF; }
    footer .social ul {
      position: relative;
      width: 30px;
      height: 100%; }
      footer .social ul li {
        position: relative;
        width: 100%;
        display: inline-block; }
        footer .social ul li a {
          position: relative;
          width: 100%; }
          footer .social ul li a img {
            position: relative;
            width: 100%;
            filter: invert(100%); }
            footer .social ul li a img:hover {
              filter: invert(80%); }
  footer .footer-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
    clear: both;
    margin: 20px 0 50px; }
    footer .footer-wrapper h3 {
      font-size: 18px;
      padding: 0 0 10px;
      color: #FFF; }
    footer .footer-wrapper p {
      color: #FFF;
      font-size: 15px; }
  footer p {
    color: #FFF;
    font-size: 15px; }

/*--------------------MEDIA-QUERIES----------------------*/
/*--------------------CONTEÚDO----------------------*/
/*--------------------CONTEÚDO----------------------*/
/*--------------------CONTEÚDO----------------------*/
/*--------------------CONTEÚDO----------------------*/
/*--------------------CONTEÚDO----------------------*/
/*--------------------CADEIRAs----------------------*/
.mimo, .zarem, .way {
  position: relative;
  float: left;
  width: 100%;
  height: 700px;
  margin-bottom: 40px; }
  .mimo img, .zarem img, .way img {
    position: absolute;
    width: 20%;
    left: 30px;
    bottom: 30px; }

/*--------------------CONTI----------------------*/
.mimo {
  background: url(../_img/Pol-Mimo.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-box-shadow: inset 2px 200px 300px -27px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 2px 200px 300px -27px rgba(0, 0, 0, 0.6);
  box-shadow: inset 2px 200px 300px -27px rgba(0, 0, 0, 0.6); }

/*--------------------SPIN----------------------*/
.zarem {
  background: url(../_img/Pol-Zarem.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-box-shadow: inset 2px 200px 300px -27px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 2px 200px 300px -27px rgba(0, 0, 0, 0.6);
  box-shadow: inset 2px 200px 300px -27px rgba(0, 0, 0, 0.6); }

/*--------------------MIMO MAT----------------------*/
.way {
  background: url(../_img/Pol-Way.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-box-shadow: inset 2px 200px 300px -27px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 2px 200px 300px -27px rgba(0, 0, 0, 0.6);
  box-shadow: inset 2px 200px 300px -27px rgba(0, 0, 0, 0.6); }

/*# sourceMappingURL=poltronas.css.map */
